{% extends 'base.html' %}
{% load static %}
{% block extrahead %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    .space-top {
        margin-top: 70px;
    }
</style>
{% endblock %}
{% block title %}Listar Transacciones{% endblock %}
{% block content %}
<div class ="row">
    <div class = "col offset-md-1">
        <a type="button" class="btn btn-success" href="{% url 'cuentas:verAhorros' pk=cuenta %}">Volver</a>
    </div>
</div>


{% if object_list %}
{% for item in object_list %}
<div class="container">
    <div class="row space-top">
        {% if item.icono %}
            <img src="{{ item.icono.url }}"  class = "rounded" width="70" height="70">
        {% else %}
            <img src="{% static 'images/transaccionIcono.png' %}"  class = "rounded" width="70" height="70">
        {% endif %}
        <div class="col-sm-6">
            <h4>
                {{ item.nombre }}
            </h4>
            {% if item.tipoTransaccion == 1 %}
                <i>Ingreso de {{ item.valor }} {{ item.tipo_moneda }} realizado en la fecha: {{ item.fecha }}</i><br>
                <i>Descripción: {{ item.descripcion }}</i>
            {% else %}
                <i>Gasto de {{ item.valor }} {{ item.tipo_moneda }} realizado en la fecha: {{ item.fecha }}</i><br>
                <i>Descripción: {{ item.descripcion }}</i>
            {% endif %}
        </div>
        <div class="col">
            <a type="button" class="btn btn-danger" href = "{% url 'transacciones:eliminarTransaccion' pk=item.id %}">
                Eliminar
            </a>
            <a type="button" class="btn btn-success" href = "#">
                Exportar
            </a>
        </div>
    </div>
</div>



{% endfor %}

{% else %}
<h1>No existen registros de transacciones</h1>
{% endif %}

<ul class="pager">
    <li>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
    </li>
    <li>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </li>
</ul>
{% endblock %}